/*imports*/
header h1 {
  margin: 0 auto;
  height: 350px;
  font-size: 20vw;
  border-bottom: #660000 solid;
  background-color: white;
  text-align: center;
}
header h1 a {
  text-decoration: none;
  color: #660000;
  font-stretch: expanded;
  font-weight: 900;
  font-family: "League Gothic", sans-serif;
  margin-bottom: 10px;
}
header h1 a:hover {
  color: rgb(243, 21, 21);
}
@media screen and (max-width: 810px) {
  header h1 {
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  header h1 {
    height: 150px;
    padding: 10px;
  }
}
header .navbar {
  margin-top: 50px;
  margin-bottom: 50px;
}
header .navbar div {
  background-color: white;
}
header .navbar div .navbar-brand {
  font-size: 20pt;
}
header .navbar div ul li {
  list-style: none;
  color: black;
}
header .navbar div ul li .nav-link {
  color: black;
  font-size: 20pt;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Type de la pagina */
body {
  font-family: "Yeseva One", cursive;
}

/* type desde folder */
@font-face {
  font-family: "Durer";
  src: url(../font/Durer.ttf);
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.fotindex {
  display: flex;
  align-items: center;
  background-color: #660000;
}
.fotindex .indeximagen {
  filter: opacity(50%);
  filter: brightness(1.35);
  width: 100%;
  height: auto;
}

div marquee {
  font-size: 100pt;
  border-top: 2px #660000 solid;
  font-family: "League Gothic", sans-serif;
}
@media screen and (max-width: 810px) {
  div marquee {
    font-size: 60pt;
  }
}

footer {
  margin: 0px;
  height: 300px;
  background: rgb(250, 247, 247);
  background: linear-gradient(180deg, rgb(250, 252, 250) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
}
footer h2 {
  text-align: center;
  margin: 30px;
  font-family: "League Gothic", sans-serif;
}
footer div img {
  width: 40px;
}
footer div .col {
  padding: 60px;
}
@media screen and (max-width: 560px) {
  footer div .col {
    padding: 30px;
  }
}
footer div p {
  font-family: "Mukta Malar", sans-serif;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  padding-top: 15px;
  font-size: 14pt;
}
@media screen and (max-width: 560px) {
  footer div p {
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
  }
}
@media screen and (max-width: 560px) {
  footer div p {
    padding-top: 40px;
  }
}
@media screen and (max-width: 560px) {
  footer {
    height: 350px;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

/*mixin*/
/*responsive celulares info*/
/*responsive tablets info*/
/*tienda*/
.about-section {
  padding: 50px;
  margin: 10px;
  text-align: left;
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.about-section .infotext {
  font-family: "Mukta Malar", sans-serif;
  padding: 10px;
  font-size: 20px;
}
.about-section .infotext .mainline {
  font-family: "Yeseva One", sans-serif;
  padding: 10px;
  font-size: 25px;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.about-section .infotext .mainline:hover, .about-section .infotext .mainline:focus, .about-section .infotext .mainline:active {
  transform: scale(1.1);
}
@media screen and (max-width: 810px) {
  .about-section .infotext .mainline {
    padding: 10px;
    font-size: 16pt;
    margin-top: 10px;
  }
}
.about-section .infotext a {
  color: #660000;
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .about-section .infotext {
    font-size: 16pt;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.712);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(247, 244, 244, 0.377);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(240, 236, 236, 0.623);
    transform: translatey(0px);
  }
}
.about-section .containerfoto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section img {
  width: 400px;
  box-sizing: border-box;
  border: 5px cyan solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  filter: invert(1.1);
}
@media screen and (max-width: 810px) {
  .about-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: 10pt;
  }
}
@media screen and (max-width: 480px) {
  .about-section {
    padding: 15px;
  }
}

.statement {
  color: #660000;
  background-repeat: repeat;
  background-size: cover;
  font-family: "Mukta Malar", sans-serif;
  text-align: left;
  /*mobile responsive info*/
}
.statement h2 {
  margin: 50px;
  font-family: "Yeseva One";
}
.statement h3 {
  font-family: "Yeseva One";
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: white;
}
.statement #statementtext {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.statement #statementtext p {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 25px;
  font-size: 16pt;
}
@media screen and (max-width: 480px) {
  .statement #statementtext p {
    font-size: 14pt;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .statement #statementtext {
    padding: 10px;
  }
}
@media screen and (max-width: 560px) {
  .statement {
    display: flex;
    flex-direction: column;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.proyectoimgs {
  padding-top: 100px;
}
.proyectoimgs .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.proyectoimgs .column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px 4px 8px;
}
.proyectoimgs .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}
.proyectoimgs .column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .proyectoimgs .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column {
    flex: 100%;
    max-width: 100%;
  }
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column {
    flex: 100%;
    max-width: 100%;
  }
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 810px) {
  section .tiendawrapimagenesdos {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
}
section ul .storesubcontent a {
  text-decoration: none;
  color: black;
  margin: 12px;
  font-size: 20pt;
}
section ul .storesubcontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 35px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
section .card {
  border: 2px #660000 solid;
  margin-bottom: 20px;
  font-family: "Mukta Malar";
  font-weight: bold;
}
section .btn {
  background-color: #660000;
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.formulario {
  padding: 20px;
  border: 2px solid #660000;
  font-size: 16pt;
  color: black;
  border-radius: 2%;
  box-shadow: 0px 3px 28px 0px rgba(0, 0, 0, 0.75);
}
.formulario .enviarbt {
  margin-bottom: 50px;
  margin-top: 10px;
}
.formulario .enviarbt a {
  font-size: 20pt;
}
@media screen and (max-width: 415px) {
  .formulario .enviarbt a {
    font-size: 16pt;
  }
}
.formulario h2 {
  padding-top: 40px;
  color: #660000;
  font-weight: bold;
  font-family: "League Gothic", sans-serif;
  text-shadow: 1px 1px white;
  font-size: 50pt;
}
.formulario ul li #contact-form {
  color: white;
}
.formulario ul li .dataform {
  color: black;
}
@media screen and (max-width: 415px) {
  .formulario ul li .dataform {
    font-size: 16pt;
  }
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

/* section de tienda */
.tienda-section .tiendatext {
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 10%;
  padding: 10px;
}
.tienda-section .tiendatext p {
  font-family: "Yeseva One", sans-serif;
  padding: 20px;
  font-size: 18pt;
  text-align: left;
}
@media screen and (max-width: 810px) {
  .tienda-section .tiendatext p {
    padding: 10px;
    margin-top: 10px;
    font-size: 14pt;
  }
}
@media screen and (max-width: 810px) {
  .tienda-section .tiendatext {
    margin-top: 20px;
  }
}
.tienda-section .containerfototienda {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tienda-section .containerfototienda img {
  width: 400px;
}

/* en construccion section */
.mensajecons {
  filter: opacity(90%);
  padding-top: 200px;
  padding-bottom: 400px;
  display: flex;
  justify-content: center;
  font-family: "League Gothic", sans-serif;
  background-image: url(../pictures/imgconstrucc.JPG);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}
.mensajecons .color-overlay {
  text-align: center;
}
.mensajecons .color-overlay h1 {
  text-shadow: 3px 3px 3px white;
  font-size: 80pt;
  font-weight: 500;
  color: #660000;
  background-color: rgba(255, 255, 255, 0.473);
  margin: 10px;
}
@media screen and (max-width: 810px) {
  .mensajecons .color-overlay h1 {
    font-size: 50pt;
  }
}
@media screen and (max-width: 428px) {
  .mensajecons .color-overlay h1 {
    font-size: 30pt;
  }
}
.mensajecons .color-overlay a {
  text-decoration: none;
  color: white;
  font-size: 30pt;
  text-shadow: 3px 3px 3px black;
}
@media screen and (max-width: 810px) {
  .mensajecons .color-overlay a {
    font-size: 20pt;
  }
}
@media screen and (max-width: 428px) {
  .mensajecons .color-overlay a {
    font-size: 16pt;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    display: flex;
    flex-direction: column;
  }
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/*suscripcion a noticias de pagina se repite mucho y esta personalizado*/
.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
    margin-top: 50px;
  }
}
.suscripcion .content h2 {
  color: black;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content h2 {
    font-size: 12pt;
  }
}
.suscripcion .content .form-control {
  height: 50px;
  border-color: whitesmoke;
  border-radius: 0;
}
.suscripcion .content .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .content .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

/*mixin*/
/*responsive celulares info*/
/*responsive tablets info*/
/*tienda*/
.containerfotoobra {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 810px) {
  .containerfotoobra {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

.obraimage {
  background-color: white;
  padding: 10px;
  flex: 50%;
}
.obraimage img {
  width: 600px;
  box-shadow: 10px 10px 20px 20px rgba(128, 128, 128, 0.493);
}

.obratext {
  padding: 10px;
  flex: 50%;
  font-size: 16pt;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 810px) {
  .obratext {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
