/*imports*/
header h1 {
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  font-size: 132pt;
  border-bottom: #660000 solid;
  background-color: white;
  text-align: center;
}
header h1 a {
  text-decoration: none;
  color: #660000;
  font-stretch: expanded;
  font-weight: 900;
  font-family: "shrimp", sans-serif;
}
header h1 a:hover {
  color: rgb(243, 21, 21);
}
@media screen and (max-width: 810px) {
  header h1 {
    font-size: 80pt;
    text-align: left;
  }
}
@media screen and (max-width: 415px) {
  header h1 {
    font-size: 60pt;
    text-align: left;
  }
}
header .navbar {
  margin-top: 50px;
  margin-bottom: 50px;
}
header .navbar div {
  background-color: white;
}
header .navbar div .navbar-brand {
  font-size: 20pt;
}
header .navbar div ul li {
  list-style: none;
  color: black;
}
header .navbar div ul li .nav-link {
  color: black;
  font-size: 20pt;
}

* {
  margin: 0px;
  padding: 0px;
}

/* Type de la pagina */
body {
  font-family: "Yeseva One", cursive;
}

/* type desde folder */
@font-face {
  font-family: "Durer";
  src: url(../font/Durer.ttf);
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.fotindex {
  background-color: #660000;
  color: black;
  text-shadow: 2px 2px white;
  filter: opacity(50%);
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/a2c41194077739.5e8c608d2a6fd.jpg);
  padding-top: 600px;
  padding-bottom: 600px;
  filter: brightness(1.35);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}
.fotindex h2 {
  text-align: center;
  font-size: 80pt;
  background-color: rgba(255, 255, 255, 0.1568627451);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 810px) {
  .fotindex h2 {
    font-size: 40pt;
  }
}
@media screen and (max-width: 810px) {
  .fotindex {
    width: 800px;
    font-size: 40pt;
  }
}
@media screen and (max-width: 560px) {
  .fotindex {
    width: 500px;
    height: 100px;
    padding-top: 300px;
    padding-bottom: 300px;
    background-blend-mode: normal;
  }
}

div marquee {
  font-size: 100pt;
  border-top: 2px #660000 solid;
  font-family: "shrimp", sans-serif;
}
@media screen and (max-width: 810px) {
  div marquee {
    font-size: 40pt;
  }
}

footer {
  margin: 0px;
  height: 300px;
  background: rgb(250, 247, 247);
  background: linear-gradient(180deg, rgb(250, 252, 250) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
}
footer div img {
  width: 40px;
}
footer div .col {
  padding: 60px;
}
@media screen and (max-width: 560px) {
  footer div .col {
    padding: 30px;
  }
}
footer div p {
  font-family: "Mukta Malar", sans-serif;
  color: white;
  padding-top: 70px;
  font-size: 14pt;
}
@media screen and (max-width: 560px) {
  footer div p {
    font-size: 8pt;
    padding-top: 30px;
  }
}
@media screen and (max-width: 560px) {
  footer {
    height: 180px;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.about-section {
  padding: 50px;
  margin: 10px;
  text-align: justify;
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
  /*background-color: nth($colores, 4);*/
}
.about-section .infotext {
  font-family: "Mukta Malar", sans-serif;
  padding: 10px;
  font-size: 20px;
  /*mobile responsive info*/
}
.about-section .infotext .mainline {
  font-family: "Durer", sans-serif;
  padding: 10px;
  font-size: 30px;
}
@media screen and (max-width: 560px) {
  .about-section .infotext .mainline {
    font-size: 16pt;
  }
}
@media screen and (max-width: 560px) {
  .about-section .infotext {
    font-size: 16pt;
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.about-section .containerfoto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section img {
  width: 400px;
  box-sizing: border-box;
  border: 5px #660000 solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@media screen and (max-width: 810px) {
  .about-section {
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
}

.statement {
  padding: auto;
  color: #660000;
  font: weight 800px;
  margin: 30px;
  background-repeat: repeat;
  background-size: cover;
  border-radius: 2%;
  font-family: "Mukta Malar", sans-serif;
  font-size: 20px;
  text-align: justify;
  /*mobile responsive info*/
}
.statement h2 {
  margin: 50px;
  font-family: "Durer";
}
.statement #statementtext {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.statement #statementtext div {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.856);
  padding: 5px;
  border-radius: 10%;
}
.statement #statementtext div .p {
  font-size: 20pt;
}
@media screen and (max-width: 560px) {
  .statement #statementtext div .p {
    font-size: 5pt;
  }
}
@media screen and (max-width: 560px) {
  .statement #statementtext {
    padding: 5px;
  }
}
@media screen and (max-width: 560px) {
  .statement {
    display: flex;
    flex-direction: column;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .formulario .suscripcion h2, .proyectoimgs .suscripcion h2, .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.proyectoimgs {
  padding-top: 100px;
}
.proyectoimgs .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.proyectoimgs .column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px 4px 8px;
}
.proyectoimgs .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}
.proyectoimgs .column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .proyectoimgs .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column {
    flex: 100%;
    max-width: 100%;
  }
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}
@media screen and (max-width: 600px) {
  .proyectoimgs .column {
    flex: 100%;
    max-width: 100%;
  }
  .proyectoimgs .column img {
    filter: grayscale(0) brightness(1);
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.formulario .suscripcion h2, .suscripcion h2, .proyectoimgs .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .formulario .suscripcion h2, .suscripcion h2, .proyectoimgs .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

section ul .storesubcontent a {
  text-decoration: none;
  color: black;
  margin: 12px;
  font-size: 20pt;
}
section ul .storesubcontent {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 35px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
section .card {
  border: 2px #660000 solid;
  margin-bottom: 20px;
  font-family: "Durer";
  font-weight: bold;
}
section .btn {
  background-color: #660000;
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.formulario .suscripcion h2, .suscripcion h2, .proyectoimgs .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .formulario .suscripcion h2, .suscripcion h2, .proyectoimgs .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.formulario {
  padding: 20px;
  background-color: rgba(102, 0, 0, 0.6862745098);
  font-family: "Durer";
  font-size: 20pt;
  font-weight: bold;
  color: black;
  border-radius: 2%;
}
.formulario .enviarbt {
  margin-bottom: 50px;
}
.formulario h2 {
  padding-top: 40px;
  color: #660000;
  font-weight: bold;
  font-family: "Yeseva One";
  text-shadow: 1px 1px white;
}
.formulario ul li #contact-form {
  color: white;
}
.formulario ul li .dataform {
  color: black;
}
.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.suscripcion h2, .proyectoimgs .suscripcion h2, .formulario .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion h2, .proyectoimgs .suscripcion h2, .formulario .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.tienda-section .tiendatext {
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 10%;
  padding: 10px;
}
.tienda-section .tiendatext p {
  font-family: "Yeseva One", sans-serif;
  padding: 20px;
  font-size: 16pt;
  text-align: left;
}
@media screen and (max-width: 810px) {
  .tienda-section .tiendatext p {
    font-size: 12pt;
  }
}
.tienda-section .containerfototienda {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tienda-section .containerfototienda img {
  width: 400px;
}
@media screen and (max-width: 810px) {
  .tienda-section {
    font-size: 8pt;
    display: flex;
    flex-direction: column;
  }
}

/* en construccion section */
.mensajecons {
  filter: opacity(90%);
  padding-top: 200px;
  padding-bottom: 400px;
  display: flex;
  justify-content: center;
  font-family: "Durer";
  background-image: url(../pictures/imgconstrucc.JPG);
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
}
.mensajecons .color-overlay {
  text-align: center;
}
.mensajecons .color-overlay h1 {
  text-shadow: 3px 3px 3px white;
  font-size: 100pt;
  font-weight: 800;
  color: #660000;
  background-color: rgba(255, 255, 255, 0.473);
  margin: 10px;
}
@media screen and (max-width: 810px) {
  .mensajecons .color-overlay h1 {
    font-size: 50pt;
  }
}
@media screen and (max-width: 428px) {
  .mensajecons .color-overlay h1 {
    font-size: 30pt;
  }
}
.mensajecons .color-overlay a {
  text-decoration: none;
  color: white;
  font-size: 30pt;
  text-shadow: 3px 3px 3px black;
}
@media screen and (max-width: 810px) {
  .mensajecons .color-overlay a {
    font-size: 20pt;
  }
}
@media screen and (max-width: 428px) {
  .mensajecons .color-overlay a {
    font-size: 16pt;
  }
}

.tienda-section {
  padding: 50px;
  text-align: center;
  background: linear-gradient(180deg, rgb(250, 247, 247) 0%, rgba(102, 0, 0, 0.7091036244) 64%);
  color: #660000;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

section .tiendawrapimagenes {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

.suscripcion .content {
  max-width: 650px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .suscripcion .content {
    padding: 8px;
  }
}
.suscripcion h2, .proyectoimgs .suscripcion h2, .formulario .suscripcion h2 {
  color: #080808;
  margin-bottom: 40px;
}
@media screen and (max-width: 560px) {
  .suscripcion h2, .proyectoimgs .suscripcion h2, .formulario .suscripcion h2 {
    font-size: 12pt;
  }
}
.suscripcion .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.suscripcion .form-control:focus {
  box-shadow: none;
  border: 2px solid #660000;
}
.suscripcion .btn {
  min-height: 50px;
  border-radius: 20;
  background: #660000;
  color: #fff;
  font-weight: 600;
}

.containerfotoobra {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 810px) {
  .containerfotoobra {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

.obraimage {
  background-color: white;
  padding: 10px;
  flex: 50%;
}
.obraimage img {
  width: 600px;
  box-shadow: 10px 10px 20px 20px rgba(128, 128, 128, 0.493);
}

.obratext {
  padding: 10px;
  flex: 50%;
  font-size: 16pt;
  margin-top: 100px;
}
@media screen and (max-width: 810px) {
  .obratext {
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
