@import '../base/extend';

.formulario {


    padding: 20px;
    background-color: #660000af;
    font-family: 'Durer';
    font-size: 20pt;
    font-weight: bold;
    color: black;
    border-radius: 2%;





    .enviarbt {

        margin-bottom: 50px;
    }

    h2 {

        padding-top: 40px;
        color: #660000;
        font-weight: bold;
        font-family: 'Yeseva One';
        text-shadow: 1px 1px white;

    }

    ul {

        li {


            #contact-form {
                color: white;
            }

            .dataform {
                color: black;


            }


        }




    }

    .suscripcion {

        @extend %suscripcioncuadro;

    }



}