@import '../base/variable';

footer {

    margin: 0px;
    height: 300px;
    background: rgb(250, 247, 247);
    background: $footer-gradient-color;

    div {

        img {
            width: 40px;
        }

        .col {

            padding: 60px;

            @media screen and (max-width: 560px) {
                padding: 30px;


        }

        }

        p {


            font-family: $footer-font-family;
            color: white;
            padding-top: 70px;
            font-size: 14pt;

            @media screen and (max-width: 560px) {
                    font-size: 8pt;
                    padding-top: 30px;
    
            }

        }

    }

    @media screen and (max-width: 560px) {
        height: 150px; }

}