footer {

    margin: 0px;
    height: 200px;
    background: rgb(250, 247, 247);
    background: linear-gradient(180deg, rgba(250, 247, 247, 1) 0%, rgba(102, 0, 0, 0.7091036243599003) 64%);

    div {

        img {
            width: 30px;
        }

        .col {

            padding: 20px;
        }

        p {


            font-family: 'Mukta Malar', sans-serif;
            color: white;
            padding-top: 70px;

            @media screen and (max-width: 560px) {
                    font-size: 8pt;
    
            }

        }

    }

}