@import '../base/variable';

header {

    h1 {

        padding: 20px;
        margin: 0 auto;
        height: 300px;
        font-size: $header-text-size;
        border-bottom: #660000 solid;
        background-color: white;
        text-align: center;

        a {

            text-decoration: none;
            color: $text-color-general;
            &:hover {
                color: rgb(243, 21, 21);
            }

            font-stretch: expanded;
            font-weight: 900;
            font-family: 'shrimp', sans-serif;
            
        
        }

        


        @media screen and (max-width: 810px) {

            font-size: 80pt;
            text-align: left;
          
            
        }

        @media screen and (max-width: 415px) {

            font-size: 60pt;
            text-align: left;
          
            
        }

    }

    .navbar {

        margin-top: 20px;

        div {

            background-color: white;

            ul {

                li {

                    .nav-link {

                        color: black;
                        font-size: 20pt;
                    }

                    list-style: none;
                    color: black;


                }




            }

        }


    }



}