@import '../base/extend';

section {

    .picturecoverindex {

        margin-bottom: 20px;

    }

    .suscripcion {

        @extend %suscripcioncuadro;

    }


    div {


        marquee {

            font-size: 80pt;
            border-top: 2px #660000 solid;

            @media screen and (max-width: 810px) {

                font-size: 40pt;
            }

        }


    }
}