@import '../base/extend';


.fotindex {


    display: flex;
    align-items: center;
    background-color: #660000;
    

   


    .indeximagen {


        filter: opacity(50%);
        filter: brightness(1.35);
        width: 100%;
        height: auto;

        
    


    }




}


.suscripcion {

    @extend %suscripcioncuadro;
}





div {


    marquee {

        font-size: 100pt;
        border-top: 2px #660000 solid;
        font-family: 'League Gothic', sans-serif;

        @media screen and (max-width: 810px) {

            font-size: 60pt;
        }

    }


}