@import '../base/listas';
@import '../base/extend';

section {

    .suscripcion {

        @extend %suscripcioncuadro;

    }


}


.about-section {
    padding: 50px;
    margin: 10px;
    text-align: justify;
    border-radius: 5%;
    color: #660000;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: nth($colores, 4);


    .infotext {

        font-family: 'Mukta Malar', sans-serif;
        padding: 10px;
        font-size: 20px;

        .mainline {

            font-family: 'Durer', sans-serif;
            padding: 10px;
            font-size: 30px;

            @media screen and (max-width: 560px) {

                font-size: 12pt;

            }

        }

        /*mobile responsive info*/

        @media screen and (max-width: 560px) {

            font-size: 12pt;

        }


    }



    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    }

    .containerfoto {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    img {
        width: 400px;
        box-sizing: border-box;
        border: 5px #660000 solid;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;

    }





    @media screen and (max-width: 810px) {

        font-size: 8pt;
        display: flex;
        flex-direction: column;

    }



}

.statement {

    padding: auto;
    color: #660000;

    h2 {
        margin: 50px;
        font-family: 'Durer';

    }



   

    #statementtext {


        


        width: 100%;
        margin: 0 auto;
        padding: 50px;
        text-align: justify;
        font-family: 'Mukta Malar',
        sans-serif;
        font-size: 20px;

        div {
            margin-bottom: 20px;
        }


        
    }


    /*mobile responsive info*/

    @media screen and (max-width: 560px) {

        display: flex;
        flex-direction: column;

    }






}