@import '../base/listas';
@import '../base/extend';
@import '../base/mixin';



.about-section {
    padding: 50px;
    margin: 10px;
    text-align: left;
    color: #660000;
    display: grid;
    grid-template-columns: 3fr 2fr;



    .infotext {

        font-family: 'Mukta Malar', sans-serif;
        padding: 10px;
        font-size: 20px;

        .mainline {

            font-family: 'Yeseva One', sans-serif;
            padding: 10px;
            font-size: 25px;


            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;


            &:hover,
            &:focus,
            &:active {
                transform: scale(1.1);
            }


            @include infomainlinetablet;



        }




        a {

            color: #660000;
            text-decoration: underline;
            font-weight: bolder;
            font-style: italic;

        }






        @media screen and (max-width: 480px) {

            font-size: 16pt;

        }


    }



    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0.712);
            transform: translatey(0px);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(247, 244, 244, 0.377);
            transform: translatey(-20px);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(240, 236, 236, 0.623);
            transform: translatey(0px);
        }
    }

    .containerfoto {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    img {
        width: 400px;
        box-sizing: border-box;
        border: 5px cyan solid;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
        filter: invert(1.1);

    }

    @include infoboxyrespontablet;

    @include infoboxyresponsive;
}





.statement {


    color: #660000;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Mukta Malar',
        sans-serif;
    text-align: left;


    h2 {
        margin: 50px;
        font-family: 'Yeseva One';

    }

    h3 {
        font-family: 'Yeseva One';
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 10px;
        background-color: white;
    }



    #statementtext {

        width: 100%;
        margin: 0 auto;
        padding: 20px;


        p {

            margin-bottom: 30px;
            background-color: rgba(255, 255, 255, 0.856);
            padding: 25px;
            font-size: 16pt;

            @media screen and (max-width: 480px) {

                font-size: 14pt;
                margin-bottom: 10px;


            }
        }



        @media screen and (max-width: 480px) {

            padding: 10px;


        }


    }


    /*mobile responsive info*/

    @media screen and (max-width: 560px) {

        display: flex;
        flex-direction: column;

    }


}


.suscripcion {

    @extend %suscripcioncuadro;
}