

section {

    div {

        #tiendawrap {

            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        
        }
        
        #tiendawrap2 {
        
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        
        }
    }

   
}