
@import '../base/extend';


section {



    .tiendawrapimagenes {

        @extend %gridtiendageneral;

    }

    .tiendawrapimagenesdos {

        @include wrapimagenesdostablet; 
       
    }

   

    ul {

        .storesubcontent {


            a {

                text-decoration: none;
                color: black;
                margin: 12px;
                font-size: 20pt;


            }


        }

        .storesubcontent {

            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            padding: 35px;
            justify-content: center;
            display: flex;
            flex-direction: row;

        }


    }



    .card {

        border: 2px #660000 solid;
        margin-bottom: 20px;
        font-family: 'Mukta Malar';
        font-weight: bold;
       
    }


    .btn {

        background-color: #660000;
    }

    .suscripcion {

        @extend %suscripcioncuadro;
    }



}