



$text-color-general: #660000;
$background-color-general: white;
$header-text-size: 40pt;
$footer-gradient-color: linear-gradient(180deg, rgb(250, 252, 250) 0%, rgba(102, 0, 0, 0.7091036243599003) 64%);
$footer-font-family: 'Mukta Malar', sans-serif;   


